
/* Universal Styles */
body {
    font-family: "Arial", sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px;
    flex-grow: 1;
}

h1 {
    color: #4caf50;
    text-align: center;
}

h2 {
    color: #4caf50;
    margin-bottom: 10px;
}

p, ul {
    color: #333;
    line-height: 1.6;
}

/* Sidebar Styles */
nav {
    width: 200px;
    background-color: #4caf50;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}

nav a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 10px 0;
    font-size: 18px;
    text-align: left;
}

nav a:hover {
    background-color: #45a049;
    padding-left: 10px;
    transition: padding-left 0.3s ease-in-out;
}

.container {
    margin-left: 220px; /* Ensure this matches the width of the sidebar + its padding */
    flex-grow: 1;
}

/* Ensure links within the container are styled properly */
.container a {
    color: #4caf50;
    text-decoration: none;
    border-bottom: 1px solid #4caf50;
}

.container a:hover {
    color: #388e3c;
    border-bottom: 1px solid #388e3c;
}

/* Info Section Styles */
.info-section {
    background-color: #f1f1f1;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.info-section h2 {
    font-size: 24px;
    margin-top: 0;
}

.info-section p {
    font-size: 16px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav {
        width: 100%;
        position: relative;
        height: auto;
        padding: 10px;
    }

    .container {
        margin-left: 0;
        margin-top: 20px;
    }

    nav a {
        font-size: 16px;
        padding: 8px 0;
    }
}
